
header.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: orange; /* オレンジ */
    color: #FF5722; /* 濃いオレンジ */
    display: flex;
    justify-content: flex-start; /* 左寄せ */
    align-items: center;
    z-index: 1000;
	font-size: 28px;
	font-style: italic; /* 斜体 */
	text-align: center; /* 中央揃え */
	font-weight: bold; /* 太字 */
	padding-left: 20px; /* 左側の余白 */
}

.header-logo {
	height: 50px;
	margin-right: 12px; /* 画像と文字の間の余白 */ }

.main {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: calc(100vh - 70px);
}

